@inject NavigationManager Navigation

<nav class="navbar">
    <div class="navbar-brand">
        <span class="brand-icon">🍔</span>
        <span class="brand-name">GOOD HAMBURGER</span>
    </div>
    <div class="navbar-links">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Cardápio</NavLink>
        <NavLink class="nav-link" href="/orders">Pedidos</NavLink>
        <NavLink class="nav-link btn-nav-order" href="/new-order">+ Novo Pedido</NavLink>
    </div>
</nav>